<form action="/">
<h1>CREATE TASKS: </h1>
    <label>ID</label>
    <input type="text" name="id"><br>
    <label>Title</label>
    <input type="text" name="title"><br>
    <label>Description</label>
    <input type="text" name="description"><br>
    <label>Deadline</label>
    <input type="Date" name="deadline"><br>
    <label>Author</label>
    <input type="text" name="author"><br>
    <label>Mark as finished: </label>
    <input type="radio" name="isFinished"><br>
    <label>Groups:</label>
    <input type="text"name="gid">
    <button type="submit">Create</button>
</form>