home page <br>
<a href="/users/login">Login</a> <br>
<a href="/users/signup">sign up</a> <br>
<a href="/users/edit">edit users</a> <br>
<a href="/users/delete">delete users</a> <br>
<a href="/users/logout">log out</a> <br>
<br> <br>
<a href="/tasks/createTask">create Task</a>
<a href="/tasks/editTask">edit Task</a> <br>