<form action="{{action}}"method="post">
    <label>Username</label><br>
    <input type="text" name="username"value="{{data.name}}"><br>
    <label>Password</label><br>
    <input type="password" name="password"value="{{data.password}}"><br>
    <button type="submit">Submit</button>
</form>