<form action="/users/signup" method="post" enctype="multipart/form-data">
    <label>Username</label><br>
    <input type="text" name="username"><br>
    <label>Password</label><br>
    <input type="password" name="password"><br>
    <label>Add avatar:</label>
    <input type="file" name="avatar"><br>
    <button type="submit">Sign Up</button>
    {{#if error}}
		<div class="w-100 text-center alert alert-danger">{{error}}</div>
	{{/if}}
				
    {{#if success}}
		<div class="w-100 text-center alert alert-success">{{success}}</div>
	{{/if}}
</form>